@import '../../styles/vars.scss';

.characters-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: $spacing-xxlarge $global-padding;
}

.hitpoints-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    .hitpoints-visualization {
        position: relative;
        .stats-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 15rem;
            height: 15rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .stats-text {
                align-items: center;
            }
        }
    }
}

.ac-container {
    padding: 0 $spacing-large;
    flex: 1;
    .stats-container {
        justify-content: space-between;
    }
}

.initiative-container {
    margin-top: 0.5rem;
}

.box-white {
    padding: 2rem;
    border: solid 1px $border-primary;
    background: #fff;
    
    &.character-box {
        display: flex;
        align-content: flex-start;
        justify-content: center;
        width: 30rem;
        margin: 0 1.5rem 1.5rem 0;
        justify-content: flex-start;
    }
    
    .character-visual {
        img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            border: solid 1px $border-primary;
        }
    }
    
    .character-information {
        display: flex;
        flex-flow: column;
        margin-left: 3rem;
        
        .character-name {
            font-weight: 700;
            margin-bottom: 1rem;
        }
        h4 {
            font-weight: 700;
            margin-bottom: 0.4rem;
        }
        p {
            margin: 0.1rem 0;
        }
    }
}

.character-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    
    padding: $spacing-xxlarge $global-padding;
	/*.background-color: #;*/
	.title-header {
		h1, h2, h3 {
			padding-bottom: 1rem;
			border-bottom: solid 1px #ccc;
		}

			margin-bottom: 3rem;
	}
    
    .box-white {
        margin-bottom: $spacing-large;
    }
    
    .attack-container {
        .tabs {
            display: flex;
            position: relative;
            bottom: -1px;
            // border-bottom: solid 1px $border-primary;
            .tab {
                border: solid 1px lighten($border-primary, 5%);
                border-bottom: solid 1px $border-primary;
                background: #fff;
                cursor: pointer;
                
                &:nth-child(1n+2) {
                    border-left: 0;
                }
                &.is-current {
                    border-bottom: 0;
                    border-color: $border-primary;
                    a {
                        color: #676a6c;
                        font-weight: 700;
                    }
                }
                a {
                    display: block;
                    border: 0;
                    padding: $spacing-small $spacing-large;
                    color: #ccc;
                }
            }
        }
    }
    
    .ability-scores,
    .general-stats {
        flex: 1;    
    }
    .attack-container,
    .spells-known,
    .spells-prepared {
        flex: 1 100%;
    }
    
    
    .ability-scores {
        margin-right: $spacing-large;
    }
    .ability-score-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        .ability-score {
            flex: 1;
        }
        .ability-abbreviated {
            margin: 0 0;
        }
        .ability-name {
            margin: 0 0 0.5rem;
            p {
                font-size: $font-size-h1;
            }
        }
        .ability-value,
        .ability-modifier {
            padding: 0 $spacing-large;
            p {
                margin: 0;
                font-size: $font-size-h1;
                font-weight: 700;
            }
        }
    }
}

.stats-container {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0 0 $spacing-medium;
    
    .stats-labels,
    .stats-content {
        flex: 1 100%;
        display: flex;
        align-content: center;
        justify-content: flex-start;
    }
    
    .stats-labels {
        .stats-value,
        .stats-text {
            p, span {
                font-size: $font-size-h5;    
            }
        }
    }
    
    .stats-text {
        flex: 1;        
    }
    
    .stats-text,
    .stats-value {
        display: flex;
        flex-flow: column;
        justify-content: center;
        .stats-label {
            color: #ccc;
            text-transform: uppercase;
            font-size: $font-size-h5;
        }
        .title-small {
            color: #676a6c;
        }
        p, span {
            &.positive {
                color: $green;
            }
            &.negative {
                color: $red;
            }
        }
    }
    
    .stats-value {
        align-items: center;
        padding: 0 $spacing-large;
        &.no-padding {
            padding: 0;
        }
        &.align-right {
            align-items: flex-end;
        }
        &.stats-secondary {
            .stats-label {
                font-size: $font-size-h5;
            }
            p, span {
                font-size: $font-size-h2;
            }
        }
        p, span {
            color: #676a6c;
            margin: 0;
            font-size: $font-size-h1;
            font-weight: 700;
        }
    }
}

.weapon-container {
    // display: flex;
    // justify-content: flex-start;
    // flex-flow: column;
    margin-bottom: $spacing-large;
    
    .weapon-stats-container {
        flex: 1 100%;
        display: flex;
        
        // &:last-child {
        //     .weapon-stats {
        //         border-bottom: solid 2px #333;
        //     }
        // }
        .weapon-vertical-container {
            display: flex;
            flex-flow: column;
            
            .weapon-group {
                display: flex;
                flex-flow: row;
            }
            .weapon-damage {
                flex: 1 100%;
            }
        }
        
        .weapon-label,
        .weapon-stats {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 1rem;
            font-weight: 700;
            height: 5.2rem;
            font-size: $font-size-h5;
        }
        .weapon-label {
            background: #333;
            color: #fff;
            // max-width: 7rem;
            text-align: left;
            height: 4rem;
        }
        .weapon-main {
            font-size: $font-size-h4;
            text-transform: uppercase;
        }
        .weapon-stats {
            font-size: $font-size-h3;
            border: solid 2px #333;
            color: $text-color-1;
        }
        .weapon-focus {
            font-size: $font-size-h2;
            color: $text-color-2;
        }
        .weapon-empty {
            background: $white;
        }
        .weapon-name {
            display: inline-block;
            background: $text-color-2;
            color: $white;
            font-size: $font-size-h2;
            padding: $spacing-small $spacing-small;
        }
    }
}


.title-small {
    font-size: $font-size-h3;
    font-weight: 700;
    margin: 0;
}

.title-full-name {
    color: #ccc;
    font-size: $font-size-h5;
    font-weight: 200;
    margin: 0 0 0.5rem;
}

.ability-abbreviated {
    margin-bottom: 0;
    font-size: $font-size-h3;
    font-weight: 700;
}

.ability-name {
    color: #ccc;
    font-size: $font-size-h5;
    font-weight: 200;
}

.text-uppercase {
		text-transform: uppercase;
}

.text-strikethrough {
		text-decoration: line-through;
}

.highlighted-value {
		font-size: 30px;
		font-weight: 700;
}

.normal-value {
		font-size: 24px;
		padding-top: 6px;
		font-weight: 400;
}

.positive {
		color: $green;
}

.negative {
		color: $red;
}

.note {
		font-size: 10px;
		font-weight: 200;
}

.container-savingthrows {
		margin-top: 25px;
}

.right {
		float: right;
}
.left {
		float: left;
}

.spell-name {
		font-size: 18px;
}

.spell-info {
		color: #428bca;
		margin-left: 15px;
		cursor: pointer;
}

.spell-used .spell-info {
		color: #ccc;
}





