@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}


.icon-home3:before {
    content: "\e800";
}

.icon-pencil2:before {
    content: "\e801";
}

.icon-quill:before {
    content: "\e802";
}

.icon-droplet:before {
    content: "\e803";
}

.icon-copy:before {
    content: "\e804";
}

.icon-paste:before {
    content: "\e805";
}

.icon-user:before {
    content: "\e806";
}

.icon-users:before {
    content: "\e807";
}

.icon-user-plus:before {
    content: "\e808";
}

.icon-user-minus:before {
    content: "\e809";
}

.icon-user-check:before {
    content: "\e80a";
}

.icon-hour-glass:before {
    content: "\e80b";
}

.icon-spinner:before {
    content: "\e80c";
}

.icon-spinner2:before {
    content: "\e80d";
}

.icon-spinner9:before {
    content: "\e80e";
}

.icon-spinner10:before {
    content: "\e80f";
}

.icon-search:before {
    content: "\e810";
}

.icon-zoom-in:before {
    content: "\e811";
}

.icon-zoom-out:before {
    content: "\e812";
}

.icon-equalizer:before {
    content: "\e813";
}

.icon-equalizer2:before {
    content: "\e814";
}

.icon-cog:before {
    content: "\e815";
}

.icon-magic-wand:before {
    content: "\e816";
}

.icon-aid-kit:before {
    content: "\e817";
}

.icon-trophy:before {
    content: "\e818";
}

.icon-glass:before {
    content: "\e819";
}

.icon-spoon-knife:before {
    content: "\e81a";
}

.icon-leaf:before {
    content: "\e81b";
}

.icon-fire:before {
    content: "\e81c";
}

.icon-lab:before {
    content: "\e81d";
}

.icon-bin2:before {
    content: "\e81e";
}

.icon-accessibility:before {
    content: "\e81f";
}

.icon-target:before {
    content: "\e820";
}

.icon-shield:before {
    content: "\e821";
}

.icon-power:before {
    content: "\e822";
}

.icon-clipboard:before {
    content: "\e823";
}

.icon-cloud-check:before {
    content: "\e824";
}

.icon-earth:before {
    content: "\e825";
}

.icon-eye:before {
    content: "\e826";
}

.icon-eye-plus:before {
    content: "\e827";
}

.icon-eye-minus:before {
    content: "\e828";
}

.icon-star-empty:before {
    content: "\e829";
}

.icon-star-full:before {
    content: "\e82a";
}

.icon-heart:before {
    content: "\e82b";
}

.icon-heart-broken:before {
    content: "\e82c";
}

.icon-info:before {
    content: "\e82d";
}

.icon-cancel-circle:before {
    content: "\e82e";
}

.icon-cross:before {
    content: "\e82f";
}

.icon-checkmark:before {
    content: "\e830";
}

.icon-checkmark2:before {
    content: "\e831";
}

.icon-enter:before {
    content: "\e832";
}

.icon-loop2:before {
    content: "\e833";
}

.icon-infinite:before {
    content: "\e834";
}

.icon-arrow-right2:before {
    content: "\e835";
}

.icon-google-plus3:before {
    content: "\e836";
}

.icon-facebook3:before {
    content: "\e837";
}

.icon-twitter3:before {
    content: "\e838";
}

.icon-github:before {
    content: "\e839";
}

/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");*/
/*@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");*/
/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.4
 *
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html { font-size: 62.5%; } 
body { 
    font-size: 1.4rem;
    font-family: 'Roboto';
    background: #F3F3F4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Open Sans';
  color: #676a6c;
  margin-top: 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

ul, ol {
    margin: 0;
}

p {
    color: #676a6c;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px #2F4050;
}
a.no-border {
    border-bottom: 0;
}