
$global-padding: 2.5rem;
$menu-height: 7rem;
$border-primary: #e7eaec;


// Fonts
$font-size-h1: 3rem;
$font-size-h2: 2.4rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.4rem;
$font-size-h5: 1.2rem;
$font-size-h6: 1rem;

// Colors
$white: #fff;
$green: #1ab394;
$red: #ed5565;
$darkgrey: #f3f3f4;
$text-color-1: #676a6c;
$text-color-2: #333;

// Spacing
$spacing-xsmall: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 1.5rem;
$spacing-large: 2rem;
$spacing-xlarge: 2.5rem;
$spacing-xxlarge: 3rem;